body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.dark-mode {
  @apply bg-gray-900 text-white;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  @apply transition-colors duration-500 ease-in-out bg-gray-100 text-gray-800 dark:bg-gray-900 dark:text-gray-300;
  font-family: 'Roboto', sans-serif;
}

.container {
  @apply max-w-4xl mx-auto;
}

.form-input {
  @apply transition-colors duration-500 ease-in-out bg-white border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300;
}

.form-select {
  @apply transition-colors duration-500 ease-in-out bg-white border-gray-300 rounded-md dark:bg-gray-700 dark:border-gray-600 dark:text-gray-300;
}

.form-checkbox {
  @apply transition-colors duration-500 ease-in-out text-blue-500 border-gray-300 rounded dark:border-gray-600;
}

.sidebar {
  @apply transition-colors duration-500 ease-in-out bg-white dark:bg-gray-800 p-6 w-64 flex flex-col space-y-6 shadow-lg rounded-l-lg;
}

.card-container {
  @apply transition-colors duration-500 ease-in-out bg-white dark:bg-gray-800 rounded-lg shadow-lg;
}

.text-transition {
  @apply transition-colors duration-700 ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out;
}




